<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>

        {{ partial "meta.html" . }}
        {{ block "meta" . }}{{ end }}

        <link rel="canonical" href="{{ .Permalink }}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">

        {{ $style := resources.Get "styles.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        {{ $style := resources.Get "author.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        {{ $style := resources.Get "article.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <style>
            .thumb {
                background-image: url("{{ "/images/default.jpg" | absURL }}");
                background-size: cover;
                background-position: center;
            }
            {{ range $p := .Site.RegularPages }}
                {{ with $p.Params.thumbnail }}
            .thumb-{{ $p.File.UniqueID }} {
                background-image: url("{{ . | absURL }}");
            }
                {{ end }}
            {{ end }}

            {{ partial "custom.css" . | safeCSS }}
        </style>


<!-- General -->
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description -}}{{ . }}{{ else -}}{{ if .IsPage }}{{ substr .Summary 0 300 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:image" content="{{ if .Params.thumbnail -}}{{ .Params.thumbnail|absURL }}{{ else if hasPrefix .File.Path "post" -}}{{ path.Join "tcard" (print .File.BaseFileName ".png") | absURL }}{{ else -}}{{ "images/default.png" | absURL }}{{ end -}}" />
<!-- Twitter -->
<!-- <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ .Site.Params.twitterName }}" /> -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@jun_robot" />
<!-- <meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:description" content="{{ with .Description -}}{{ . }}{{ else -}}{{ if .IsPage }}{{ substr .Summary 0 300 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="twitter:image" content="{{ if .Params.thumbnail -}}{{ .Params.thumbnail|absURL }}{{ else if hasPrefix .File.Path "post" -}}{{ path.Join "tcard" (print .File.BaseFileName ".png") | absURL }}{{ else -}}{{ "img/default.png" | absURL }}{{ end -}}" /> -->


        <!-- Google Analysis (gtag.js版) -->
        {{ if not .Site.IsServer }}
        {{ if and .Site.GoogleAnalytics (ne (getenv "HUGO_ENV") "DEV") }}

            <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ .Site.GoogleAnalytics }}');
            </script>
        {{ end }}
        {{ end }}

        <meta name="google-site-verification" content="TsFXHknRtj2FjDwuZfwaYfwo7o3WZzNXYtqJDHfy1rE" />

    </head>

    <body>

        <header class="l-header">
            <div class="title-logo-wrapper">
                <h1 class="logo">
                    <a href="{{ .Site.BaseURL }}"><img src="/images/logo.png"></a>
                </h1>
                <nav class="topnav">
                    <ul class="topnav_menu">

                        <li class="topnav_menu_item"><a href="/">Home</a></li>
                        <li class="topnav_menu_item"><a href="/tags">Tags</a></li>
                        <li class="topnav_menu_item"><a href="/pages/profile">Profile</a></li>
                        <li class="topnav_menu_item"><a href="/pages/projects">Projects</a></li>
                       
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class="l-container">
                <div class="mrow">
                <div class="mcol c8">
                    {{ block "main" . }}{{ end }}
                </div>
                <div class="mcol c4">
                    <aside class="l-sidebar">
                        {{ partial "author.html" . }}
                        {{ partial "latests.html" . }}
                        <!-- {{ partial "categories.html" . }} -->
                        {{ partial "tags.html" . }}
                        {{ partial "link_list.html" . }}
                    </aside>
                </div>
            </div>
        </main>

        <footer class="l-footer">
            <p>CopyRight&copy; {{ .Site.Params.copyrightYear }} {{ .Site.Title }} </p>
        </footer>
    </body>
</html>

