<!-- テーマにある大本 -->
<section class="sidebar">
  <header>LINKS</header>
  <div class="articles sm">
    <div class="latests">

      <article class="lism">
        <a href="https://blog.shirokuma89.dev"target="_blank">
        <div class="inner">
          <div class="title">しろくま＠胡瓜の自由帳</div>
            <ul class="facts sm">
              <div  class="link_setumei">大会で会うたびに一緒にご飯食べに行く、くまちゃんのブログ</div>
            </ul>
         </div>
        </a>
      </article>

      <article class="lism">
        <a href="https://onlydcx.netlify.app"target="_blank">
        <div class="inner">
          <div class="title">ゆーざーの日記</div>
            <ul class="facts sm">
              <div  class="link_setumei">初めて出たNESTロボコンの頃から仲良くしてくれてるUserさんのブログ</div>
            </ul>
         </div>
         </a>
      </article>

      <article class="lism">
        <a href="https://jlcpcb.com/JPV"target="_blank">
        <div class="inner">
          <div class="title">株式会社JLCPCB</div>
            <ul class="facts sm">
              <div  class="link_setumei">基板を発注している企業様。他の業者に比べて早くて安い。</div>
            </ul>
         </div>
        </a>
      </article>

      <article class="lism">
        <div class="inner">
          <div class="title"></div>
            <ul class="facts sm">
              <div  class="link_setumei">相互リンク募集中!!</div>
            </ul>
         </div>
      </article>

    </div>
  </div>
</section>
