<!-- テーマにある大本 -->
<section class="sidebar">
  <header>LINKS</header>
  <div class="articles sm">
    <div class="latests">

      <article class="lism">
        <a href="https://blog.shirokuma89.dev"target="_blank">
        <div class="inner">
          <div class="title">しろくま＠胡瓜の自由帳</div>
            <ul class="facts sm">
              <div  class="link_setumei">大会で会うたびに一緒にご飯食べに行く、くまちゃんのブログ</div>
            </ul>
         </div>
        </a>
      </article>

      <!-- <article class="lism">
        <a href="https://onlydcx.netlify.app"target="_blank">
        <div class="inner">
          <div class="title">ゆーざーの日記</div>
            <ul class="facts sm">
              <div  class="link_setumei">初めて出たNESTロボコンの頃から仲良くしてくれてるUserさんのブログ</div>
            </ul>
         </div>
         </a>
      </article> -->

      <article class="lism">
        <a href="https://jlcpcb.com/JPV"target="_blank" >
        <div class="Sponsor_inner">
          <div class="title"><span style="background: linear-gradient(transparent  70%, #ffc037  90%)">株式会社JLCPCB</span></div>
            <ul class="facts sm">
              <div  class="link_setumei">
                いつも発注させてもらっている<b>基板屋さん。</b>他の業者に比べて<span style="background: linear-gradient(transparent  70%, #ffc037  90%)"><b>速くて安い！</b></span>初めて発注した時からずっとお世話になっている。</div>
              <div  class="link_setumei">
                今は、新規ユーザーに<span style="background: linear-gradient(transparent  70%, #ffc037  90%)"><b>約7000円分</b></span>のクーポンを配布しているので<span style="background: linear-gradient(transparent  70%, #ffc037  90%)"><b>基板発注を始める大チャンス！！</b></span>
              </div>
            </ul>
         </div>
        </a>
      </article>

      <article class="lism">
        <div class="inner">
          <div class="title"></div>
            <ul class="facts sm">
              <div  class="link_setumei">相互リンク募集中!!</div>
            </ul>
         </div>
      </article>

    </div>
  </div>
</section>
